
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

*.pdf

.env
.env*
.env.*
*.env
instance/

.vscode
pycache/
**/pycache/
*.py[cod]
*$py.class

.venv/
.env/
.pdm-python
venv/
ENV/

.env
.env.*
*.env

*.sqlite3
*.db
*.db-journal

chromadb/
chromadb-*

.env.prod

chroma_db/
chroma_db-*
chroma_db/
chroma.sqlite3


